@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body{
    margin-top: 80px;
    padding-top: 30px;
    font-family: 'Poppins', sans-serif;
}
.timber-lee{
    margin-bottom: 50px;
    width: 140px;
    border-radius: 50%;
}
.parallax-inner{
    text-align: center;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
.parallax-container{
    background: linear-gradient(45deg, #FF6347, #696969);
    padding: 70px;
    margin-top: -80px;
}
.line{
    height: 5px;
    width: 70px;
    background: #000;
    margin: 8px auto;
}
p{
    text-align: center;
    line-height: 1.7;
}